[Unit]
Description=RAVENA persistencia (reescreve /ravena.nextboot na ESP)
After=local-fs.target systemd-udev-settle.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/ravena-persist.sh

[Install]
WantedBy=multi-user.target
